<div
    class="prose prose-lg dark:prose-invert max-w-none text-black dark:text-neutral-100 prose-img:rounded-2xl prose-img:border prose-img:border-neutral-200 dark:prose-img:border-neutral-700"
>
    <slot />
</div>
